.search-bar-body{
    height: 200px;
    background-color: #F2F2F2;
  }
  .search{
    font-size: 30px;
    cursor: pointer;
    color: #FFFFFF;
  }
  .search:active{
    opacity: 0.8;
  }
  .search-background{
    height: 50px;
    background-color: #4A90E2;
    align-items: center;
    user-select:none; /* standard syntax */
    -webkit-user-select:none; /* for Chrome、Safari */
    -moz-user-select:none;  /* for Mozilla、Firefox */
  }
  .search-input{
    margin-top: 10px;
    width: 90%;
    display:block;
    outline: none;
  }
  .century-selecter{
    margin-top: 10px;
    width: 90%;
    display:block;
    outline: none;
  }
